@media (min-width: 320px) {
    body {
        background-color: red;
    }

    .resize {
        background-color: black;
        height: 100px;
        width: 100px;
    }

    .move-me {
        background-color: cornflowerblue;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 30px;
        right: 150px;
    }
}

@media (min-width: 480px) {
    body {
        background-color:  blue;
    }

    .resize {
        background-color: black;
        height: 300px;
        width: 300px;
    }

    .move-me {
        background-color: cornflowerblue;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 50px;
        bottom: 200px;
    }
}

@media (min-width: 600px) {
    body {
        background-color: purple;
    }

    .resize {
        background-color: black;
        height: 500px;
        width: 500px;
    }

    .move-me {
        background-color: cornflowerblue;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 5px;
        bottom: 320px;
    }
}

@media (min-width: 801px) {
    body {
        background-color: yellow;
    }

    .resize {
        background-color: black;
        height: 700px;
        width: 700px;
    }

    .move-me {
        background-color: cornflowerblue;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 10px;
        left: 200px;
    }
}

@media (min-width: 1025px) {
    body {
        background-color: green;
    }

    .resize {
        background-color: black;
        height: 900px;
        width: 900px;
    }

    .move-me {
        background-color: cornflowerblue;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 8px;
        left: 300px;
    }
}

@media (min-width: 1281px) {
    body {
        background-color: orange;
    }

    .resize {
        background-color: black;
        height: 1100px;
        width: 1100px;
    }

    .move-me {
        background-color: cornflowerblue;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 97px;
        right: 1000px;
    }
}